@model QnA

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Making</title>

    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">

</head>
<body class="qbody">
<<<<<<< Updated upstream
    <div class="navbar2">
        <div class="logo">
            <svg width="200" height="200" viewBox="0 0 499 449" fill="none" xmlns="http://www.w3.org/2000/svg">
=======

    <div class="login-btns">
        <partial name="_LoginPartial" />
    </div>

    <div class="navbar2">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><svg width="200" height="200" viewBox="0 0 499 449" fill="none" xmlns="http://www.w3.org/2000/svg">
>>>>>>> Stashed changes
                <path d="M18.8923 348.842V368.426H41.9323V377.354H18.8923V397.802H44.8123V406.73H7.94829V339.914H44.8123V348.842H18.8923ZM80.948 379.946L98.036 406.73H85.652L74.228 388.778L63.476 406.73H52.052L69.14 380.714L52.052 353.834H64.436L75.86 371.786L86.612 353.834H98.036L80.948 379.946ZM102.55 380.042C102.55 374.73 103.638 370.026 105.814 365.93C108.054 361.834 111.062 358.666 114.838 356.426C118.678 354.122 122.902 352.97 127.51 352.97C131.67 352.97 135.286 353.802 138.358 355.466C141.494 357.066 143.99 359.082 145.846 361.514V353.834H156.886V406.73H145.846V398.858C143.99 401.354 141.462 403.434 138.262 405.098C135.062 406.762 131.414 407.594 127.318 407.594C122.774 407.594 118.614 406.442 114.838 404.138C111.062 401.77 108.054 398.506 105.814 394.346C103.638 390.122 102.55 385.354 102.55 380.042ZM145.846 380.234C145.846 376.586 145.078 373.418 143.542 370.73C142.07 368.042 140.118 365.994 137.686 364.586C135.254 363.178 132.63 362.474 129.814 362.474C126.998 362.474 124.374 363.178 121.942 364.586C119.51 365.93 117.526 367.946 115.99 370.634C114.518 373.258 113.782 376.394 113.782 380.042C113.782 383.69 114.518 386.89 115.99 389.642C117.526 392.394 119.51 394.506 121.942 395.978C124.438 397.386 127.062 398.09 129.814 398.09C132.63 398.09 135.254 397.386 137.686 395.978C140.118 394.57 142.07 392.522 143.542 389.834C145.078 387.082 145.846 383.882 145.846 380.234ZM235.293 352.97C239.453 352.97 243.165 353.834 246.429 355.562C249.757 357.29 252.349 359.85 254.205 363.242C256.125 366.634 257.085 370.73 257.085 375.53V406.73H246.237V377.162C246.237 372.426 245.053 368.81 242.685 366.314C240.317 363.754 237.085 362.474 232.989 362.474C228.893 362.474 225.629 363.754 223.197 366.314C220.829 368.81 219.645 372.426 219.645 377.162V406.73H208.797V377.162C208.797 372.426 207.613 368.81 205.245 366.314C202.877 363.754 199.645 362.474 195.549 362.474C191.453 362.474 188.189 363.754 185.757 366.314C183.389 368.81 182.205 372.426 182.205 377.162V406.73H171.261V353.834H182.205V359.882C183.997 357.706 186.269 356.01 189.021 354.794C191.773 353.578 194.717 352.97 197.853 352.97C202.077 352.97 205.853 353.866 209.181 355.658C212.509 357.45 215.069 360.042 216.861 363.434C218.461 360.234 220.957 357.706 224.349 355.85C227.741 353.93 231.389 352.97 235.293 352.97ZM319.299 359.21C317.571 355.882 315.171 353.386 312.099 351.722C309.027 349.994 305.475 349.13 301.443 349.13C297.027 349.13 293.091 350.122 289.635 352.106C286.179 354.09 283.459 356.906 281.475 360.554C279.555 364.202 278.595 368.426 278.595 373.226C278.595 378.026 279.555 382.282 281.475 385.994C283.459 389.642 286.179 392.458 289.635 394.442C293.091 396.426 297.027 397.418 301.443 397.418C307.395 397.418 312.227 395.754 315.939 392.426C319.651 389.098 321.923 384.586 322.755 378.89H297.699V370.154H334.467V378.698C333.763 383.882 331.907 388.65 328.899 393.002C325.955 397.354 322.083 400.842 317.283 403.466C312.547 406.026 307.267 407.306 301.443 407.306C295.171 407.306 289.443 405.866 284.259 402.986C279.075 400.042 274.947 395.978 271.875 390.794C268.867 385.61 267.363 379.754 267.363 373.226C267.363 366.698 268.867 360.842 271.875 355.658C274.947 350.474 279.075 346.442 284.259 343.562C289.507 340.618 295.235 339.146 301.443 339.146C308.547 339.146 314.851 340.906 320.355 344.426C325.923 347.882 329.955 352.81 332.451 359.21H319.299ZM341.613 380.042C341.613 374.73 342.701 370.026 344.877 365.93C347.117 361.834 350.125 358.666 353.901 356.426C357.741 354.122 361.965 352.97 366.573 352.97C370.733 352.97 374.349 353.802 377.421 355.466C380.557 357.066 383.053 359.082 384.909 361.514V353.834H395.949V406.73H384.909V398.858C383.053 401.354 380.525 403.434 377.325 405.098C374.125 406.762 370.477 407.594 366.381 407.594C361.837 407.594 357.677 406.442 353.901 404.138C350.125 401.77 347.117 398.506 344.877 394.346C342.701 390.122 341.613 385.354 341.613 380.042ZM384.909 380.234C384.909 376.586 384.141 373.418 382.605 370.73C381.133 368.042 379.181 365.994 376.749 364.586C374.317 363.178 371.693 362.474 368.877 362.474C366.061 362.474 363.437 363.178 361.005 364.586C358.573 365.93 356.589 367.946 355.053 370.634C353.581 373.258 352.845 376.394 352.845 380.042C352.845 383.69 353.581 386.89 355.053 389.642C356.589 392.394 358.573 394.506 361.005 395.978C363.501 397.386 366.125 398.09 368.877 398.09C371.693 398.09 374.317 397.386 376.749 395.978C379.181 394.57 381.133 392.522 382.605 389.834C384.141 387.082 384.909 383.882 384.909 380.234ZM423.091 362.762V392.042C423.091 394.026 423.539 395.466 424.435 396.362C425.395 397.194 426.995 397.61 429.235 397.61H435.955V406.73H427.315C422.387 406.73 418.611 405.578 415.987 403.274C413.363 400.97 412.051 397.226 412.051 392.042V362.762H405.811V353.834H412.051V340.682H423.091V353.834H435.955V362.762H423.091ZM494.522 378.986C494.522 380.97 494.394 382.762 494.138 384.362H453.722C454.042 388.586 455.61 391.978 458.426 394.538C461.242 397.098 464.698 398.378 468.794 398.378C474.682 398.378 478.842 395.914 481.274 390.986H493.082C491.482 395.85 488.57 399.85 484.346 402.986C480.186 406.058 475.002 407.594 468.794 407.594C463.738 407.594 459.194 406.474 455.162 404.234C451.194 401.93 448.058 398.73 445.754 394.634C443.514 390.474 442.394 385.674 442.394 380.234C442.394 374.794 443.482 370.026 445.658 365.93C447.898 361.77 451.002 358.57 454.97 356.33C459.002 354.09 463.61 352.97 468.794 352.97C473.786 352.97 478.234 354.058 482.138 356.234C486.042 358.41 489.082 361.482 491.258 365.45C493.434 369.354 494.522 373.866 494.522 378.986ZM483.098 375.53C483.034 371.498 481.594 368.266 478.778 365.834C475.962 363.402 472.474 362.186 468.314 362.186C464.538 362.186 461.306 363.402 458.618 365.834C455.93 368.202 454.33 371.434 453.818 375.53H483.098Z" fill="#D3B078"/>
                <path d="M62.0166 100.799C62.0206 100.965 62.0266 101.131 62.0416 101.298C62.0506 101.396 62.0646 101.492 62.0776 101.59C62.0976 101.734 62.1156 101.878 62.1436 102.021C62.1666 102.141 62.1956 102.259 62.2246 102.377C62.2526 102.493 62.2796 102.609 62.3136 102.725C62.3556 102.868 62.4056 103.006 62.4556 103.145C62.4876 103.235 62.5186 103.325 62.5546 103.414C62.6186 103.573 62.6916 103.727 62.7656 103.88C62.7916 103.935 62.8126 103.991 62.8406 104.045C62.8476 104.058 62.8566 104.069 62.8636 104.082C63.0116 104.365 63.1766 104.637 63.3596 104.897C63.4036 104.96 63.4516 105.02 63.4976 105.081C63.6406 105.272 63.7906 105.456 63.9506 105.633C64.0116 105.701 64.0716 105.771 64.1356 105.836C64.3386 106.044 64.5516 106.242 64.7776 106.425C64.8366 106.473 64.8986 106.515 64.9596 106.561C65.1476 106.705 65.3416 106.839 65.5426 106.964C65.6136 107.009 65.6866 107.054 65.7586 107.096C66.2836 107.4 66.8476 107.642 67.4426 107.812C67.5086 107.831 67.5736 107.846 67.6376 107.862C67.8706 107.922 68.1086 107.97 68.3496 108.008C68.4326 108.021 68.5136 108.036 68.5966 108.046C68.8756 108.08 69.1596 108.102 69.4476 108.104C69.4696 108.105 69.4926 108.109 69.5146 108.109C69.5226 108.109 69.5316 108.108 69.5396 108.108H76.7606V125.853C76.7606 129.995 80.1176 133.353 84.2606 133.353H93.5866V265.353H84.2606C80.1176 265.353 76.7606 268.71 76.7606 272.853C76.7606 276.995 80.1176 280.353 84.2606 280.353H101.087H129.398H189.288H217.599H277.488H305.799H365.688H393.999H412.645C416.788 280.353 420.145 276.995 420.145 272.853C420.145 268.71 416.788 265.353 412.645 265.353H401.499V133.353H414.453C414.492 133.353 414.531 133.347 414.57 133.347C414.609 133.348 414.648 133.353 414.687 133.353C418.83 133.353 422.187 129.995 422.187 125.853V108.108H429.082C429.122 108.108 429.161 108.103 429.201 108.102C429.244 108.103 429.287 108.11 429.329 108.11C432.043 108.11 434.663 106.631 435.996 104.054C437.899 100.375 436.46 95.8502 432.781 93.9472L253.853 1.39117C252.529 0.706171 251.097 0.461169 249.716 0.590169C248.339 0.462169 246.912 0.70617 245.594 1.38617L66.0706 93.9422C66.0546 93.9502 66.0416 93.9602 66.0256 93.9682C65.8726 94.0492 65.7236 94.1382 65.5776 94.2292C65.5086 94.2722 65.4356 94.3112 65.3686 94.3562C65.2526 94.4332 65.1406 94.5182 65.0286 94.6022C64.9386 94.6692 64.8456 94.7332 64.7596 94.8032C64.6866 94.8632 64.6186 94.9292 64.5476 94.9912C64.4346 95.0922 64.3186 95.1902 64.2116 95.2972C64.1726 95.3362 64.1376 95.3782 64.0996 95.4192C63.9696 95.5542 63.8416 95.6892 63.7236 95.8322C63.6876 95.8762 63.6576 95.9232 63.6216 95.9682C63.5086 96.1112 63.3966 96.2542 63.2956 96.4032C63.2086 96.5312 63.1326 96.6662 63.0536 96.7992C63.0126 96.8692 62.9656 96.9372 62.9266 97.0092C62.8146 97.2132 62.7126 97.4242 62.6196 97.6392C62.6176 97.6432 62.6156 97.6472 62.6136 97.6512C62.5276 97.8522 62.4526 98.0582 62.3846 98.2672C62.3776 98.2872 62.3676 98.3082 62.3616 98.3292C62.3096 98.4922 62.2686 98.6592 62.2286 98.8262C62.2096 98.8992 62.1876 98.9712 62.1716 99.0442C62.1466 99.1662 62.1296 99.2912 62.1086 99.4162C62.0886 99.5402 62.0656 99.6652 62.0516 99.7902C62.0416 99.8812 62.0386 99.9742 62.0316 100.066C62.0196 100.228 62.0086 100.389 62.0076 100.552C62.0076 100.571 62.0046 100.59 62.0046 100.609C62.0066 100.673 62.0146 100.735 62.0166 100.799ZM249.714 16.1382L398.51 93.1082H100.42L249.714 16.1382ZM181.786 133.353V265.353H136.896V133.353H181.786ZM269.985 133.353V265.353H225.096V133.353H269.985ZM108.586 265.353V134.442H121.897V265.353H108.586ZM196.786 265.353V134.442H210.097V265.353H196.786ZM284.985 265.353V134.442H298.296V265.353H284.985ZM373.185 265.353V134.442H386.496V265.353H373.185ZM358.185 265.353H313.296V133.353H358.185V265.353ZM407.185 118.353H91.7586V108.108H407.185V118.353Z" fill="#3E4E52"/>
                <path d="M70.5957 289.23C66.4527 289.23 63.0957 292.588 63.0957 296.73C63.0957 300.872 66.4527 304.23 70.5957 304.23H426.305C430.448 304.23 433.805 300.872 433.805 296.73C433.805 292.588 430.448 289.23 426.305 289.23H70.5957Z" fill="#3E4E52"/>
                <path d="M440.461 313.108H56.4407C52.2987 313.108 48.9407 316.466 48.9407 320.608C48.9407 324.75 52.2987 328.108 56.4407 328.108H440.461C444.604 328.108 447.961 324.75 447.961 320.608C447.961 316.466 444.603 313.108 440.461 313.108Z" fill="#3E4E52"/>
                <g clip-path="url(#clip0_121_2)">
                <path d="M263.42 33.486C259.829 33.486 256.907 36.4083 256.907 40C256.907 43.5918 259.829 46.5141 263.42 46.5141C267.012 46.5141 269.934 43.5918 269.934 40C269.934 36.4083 267.012 33.486 263.42 33.486ZM263.42 44.1808C261.115 44.1808 259.24 42.3055 259.24 40C259.24 37.6946 261.115 35.8193 263.42 35.8193C265.726 35.8193 267.601 37.6946 267.601 40C267.601 42.3055 265.726 44.1808 263.42 44.1808Z" fill="#D3B078"/>
                <path d="M277.42 40C277.42 32.2805 271.14 26 263.42 26C259.01 26 255.075 28.0551 252.507 31.2525C250.733 30.8711 248.916 30.6667 247.087 30.6667C232.934 30.6667 221.42 42.1807 221.42 56.3333C221.42 70.486 232.934 82 247.087 82C261.24 82 272.754 70.486 272.754 56.3333C272.754 56.2205 272.763 56.0132 272.773 55.7494C272.804 54.9653 272.846 53.7561 272.785 52.8067C275.32 49.3328 277.42 44.9592 277.42 40ZM240.118 34.0648C238.288 36.0004 236.725 38.6684 235.557 41.8961C234.129 41.0805 232.785 40.1055 231.537 38.9857C233.992 36.7833 236.897 35.0748 240.118 34.0648ZM229.88 40.6288C231.406 42.0124 233.057 43.2108 234.829 44.1768C233.895 47.4562 233.347 51.1828 233.254 55.1667H223.813C224.091 49.577 226.335 44.5093 229.88 40.6288ZM223.813 57.5H233.254C233.347 61.4635 233.891 65.1709 234.815 68.4381C233.038 69.4089 231.38 70.6134 229.851 72.0051C226.323 68.1287 224.09 63.0739 223.813 57.5ZM231.505 73.651C232.757 72.523 234.106 71.5414 235.541 70.7206C236.71 73.9699 238.279 76.6566 240.118 78.602C236.883 77.5873 233.966 75.8679 231.505 73.651ZM245.92 79.5412C242.561 78.8213 239.584 75.0293 237.69 69.6324C240.267 68.4975 243.045 67.8466 245.92 67.7053V79.5412ZM245.92 65.3719C242.803 65.5113 239.787 66.1869 236.984 67.3877C236.167 64.4035 235.679 61.0383 235.587 57.5H245.92V65.3719H245.92ZM245.92 55.1667H235.587C235.679 51.6072 236.175 48.2243 237 45.2266C239.798 46.423 242.809 47.0959 245.92 47.2349V55.1667ZM245.92 44.9016C243.052 44.7607 240.281 44.1131 237.709 42.9833C239.604 37.6143 242.572 33.8431 245.92 33.1254V44.9016ZM248.254 33.1298C249.077 33.3051 249.887 33.6839 250.68 34.2286C249.878 35.991 249.42 37.9411 249.42 40C249.42 41.6251 249.651 43.1851 250.043 44.6735C249.473 44.7828 248.867 44.865 248.254 44.9109V33.1298ZM248.254 47.251C249.119 47.1949 249.98 47.0806 250.775 46.9125C252.024 50.1192 253.975 52.9154 255.95 55.1668H248.254V47.251ZM248.254 57.5H258.182C258.318 57.6306 258.451 57.7566 258.584 57.881C258.652 58.6724 258.498 59.9572 258.442 60.4218L258.41 60.6987C258.183 63.0811 257.76 65.3229 257.195 67.3885C254.391 66.1869 251.372 65.5113 248.253 65.372V57.5H248.254ZM248.254 79.5285V67.7054C251.136 67.847 253.919 68.5003 256.5 69.6396C254.591 75.0702 251.578 78.8089 248.254 79.5285ZM253.981 78.6252C255.826 76.6797 257.403 73.9631 258.592 70.6953C260.043 71.5209 261.405 72.5117 262.67 73.6506C260.189 75.8847 257.246 77.6134 253.981 78.6252ZM270.42 56.3333C270.42 62.3684 268.097 67.8577 264.324 72.0046C262.785 70.6043 261.118 69.3917 259.328 68.4177C259.988 66.1154 260.477 63.6062 260.734 60.922L260.759 60.7004C260.792 60.4236 260.823 60.1379 260.85 59.8524C261.916 60.7102 262.651 61.2087 262.773 61.2898L263.42 61.7211L264.067 61.2898C264.326 61.1175 267.341 59.0733 270.441 55.6682C270.429 55.9681 270.42 56.2042 270.42 56.3333ZM263.42 58.8831C260.88 56.9919 251.753 49.5282 251.753 40C251.753 33.5668 256.987 28.3333 263.42 28.3333C269.853 28.3333 275.087 33.5668 275.087 40C275.087 49.5099 265.957 56.9884 263.42 58.8831Z" fill="#D3B078"/>
                </g>
                <defs>
                <clipPath id="clip0_121_2">
                <rect width="56" height="56" fill="white" transform="translate(221.42 26)"/>
                </clipPath>
                </defs>
<<<<<<< Updated upstream
                </svg>
=======
                </svg></a>
            
>>>>>>> Stashed changes
        </div>
        <ul class="nav__list">
            <li class="nav__list-item "><a asp-controller="Question" asp-action="Index">HOME</a></li>
            <li class="nav__list-item active-link "><a asp-controller="Question" asp-action="Create">Create Question</a></li>
            <li class="nav__list-item dropdown"><a href="#" class="nav__list-link">EXAMS</a><svg id="arrow" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z"/></svg></li>
            <li class="nav__list-item exam"><a href="#" class="nav__list-link">AVAILABLE EXAMS</a></li>
            <li class="nav__list-item exam"><a asp-controller="Exam" asp-action="CreateExam">CREATE EXAM</a></li>
        </ul>
    </div>

    <div class="container2">
        <form asp-controller="Question" asp-action="Create" method="post">
<<<<<<< Updated upstream
            <div class="form-group">
                <label asp-for="@Model.question.QuestionText"></label>
                <input asp-for="@Model.question.QuestionText" />
            </div>
=======
            <div class="form-question">
                <p class="question-text">Place your question here :</p>
                <input type="textarea"  asp-for="@Model.question.QuestionText"/>
            </div>
            @*<textarea name="" id="qtext" cols="30" rows="15" ></textarea>*@
            <div class="line"></div>
>>>>>>> Stashed changes

            <div class="difficulty">
                    <p class="difficulty-text">Place the difficulty of this question (from 1 to 10) :</p>
                    <div class="difficulty-number">
                        <div class="difficulty-boxes">
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">1</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">2</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">3</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">4</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">5</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">6</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">7</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">8</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">9</div>
                            </div>
                            <div class="difficulty-boxes__container">
                                <div class="difficulty-boxes__box">10</div>
                            </div>                       
                        </div>
                    </div>
                    <div class="form-group dif">
                        <label asp-for="@Model.question.Difficulty"></label>
                        <input id="dif-number" asp-for="@Model.question.Difficulty" />
                    </div>
                </div>
    
            <br />
    

            <div class="form-group">
                <div id="inputFormRow" style="width: 35%">
                    <div class="input-group mb-3">
                        <br />
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div id="newRow">
                    <input type="hidden" id="totalLans" value="0" />
                </div>
<<<<<<< Updated upstream
                <button id="addRow" type="button" class="btn btn-info">Add Option</button>    
            </div>
       
                <button type="submit" id="createButton">Create Question</button>
=======
                <button id="addRow" type="button" class="btn">Add Option</button>    
            </div>

            <div class="line"></div>
       
                <button type="submit" class="btn" id="createButton">Create Question</button>
>>>>>>> Stashed changes
        </form>
   </div>
    <script src="~/js/site.js " asp-append-version="true"></script>
</body>
</html>

@*<form asp-controller="Question" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="@Model.question.QuestionText"></label>
        <input asp-for="@Model.question.QuestionText" />
    </div>

    <div class="difficulty">
            <p class="difficulty-text">Place the difficulty of this question (from 1 to 10) :</p>
            <div class="difficulty-number">
                <div class="difficulty-boxes">
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">1</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">2</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">3</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">4</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">5</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">6</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">7</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">8</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">9</div>
                    </div>
                    <div class="difficulty-boxes__container">
                        <div class="difficulty-boxes__box">10</div>
                    </div>                       
                </div>
            </div>
            <div class="form-group dif">
                <label asp-for="@Model.question.Difficulty"></label>
                <input id="dif-number" asp-for="@Model.question.Difficulty" />
            </div>
        </div>
    
    <br />
    

    <div class="form-group">
        <div id="inputFormRow" style="width: 35%">
            <div class="input-group mb-3">
                <br />
                <div class="input-group-append"></div>
            </div>
        </div>
        <div id="newRow">
            <input type="hidden" id="totalLans" value="0" />
        </div>
        <button id="addRow" type="button" class="btn btn-info">Add Option</button>    
    </div>
       
        <button type="submit" id="createButton">Create Question</button>
</form>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@section Scripts
{
    <script>
        
       $("#addRow").click(function ()
    {
       
        var rowCount = parseInt($("#totalLans").val());
        rowCount++;
        $("#totalLans").val(rowCount);
        var html = '';
        html += '<div id="inputFormRow" style="width: 75%">';
        html += '<div class="input-group mb-3">'; 

                //change id attribute to name attribute and modify the name
        html += '<input type="text" name="option[' + (rowCount - 1) + '].OptionText" class="form-control m-input" placeholder="OptionText" autocomplete="off" style="width: 60%" required>';
        html += '<input type="number" step="any" name="option[' + (rowCount - 1) + '].Grade" class="form-control m-input" placeholder="Grade" autocomplete="off" style="width: 10%" required>';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn-remove" style="margin-right: 5px">Remove Option</button>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
        
    });    

    $(document).on('click', '#removeRow', function ()
    {
        var rowCount = parseInt($("#totalLans").val());
        rowCount--;
        $("#totalLans").val(rowCount);
        $(this).closest('#inputFormRow').remove();
    });    

    $(document).ready(function () {
        $("#createButton").click(function ()
        {
            var inputData = $('form').serializeArray();  
            $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "Question/Create", // Controller/View
                data: inputData,
                success : function(response) {
                    console.log(response)
                }
            });

        });
    });

    </script>
}