@model Question
<form method="post" asp-action="Delete">
	<input asp-for="QuestionId" hidden />
	<div >
		<div class="delete-header">
			<h2>Delete Category</h2>
		</div>
		<div class="delete-form">
			@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="QuestionText"></label>
			<input asp-for="QuestionText" disabled class="form-control" />
		</div>
        <div class="mb-3">
			<label asp-for="Difficulty"></label>
			<input asp-for="Difficulty" disabled class="form-control" />
		</div>
        @foreach(var o in @Model.Options){
            <div class="mb-3">
			<label asp-for="@o.OptionId"></label>
			<input asp-for="@o.OptionId" disabled class="form-control" />
		    </div>
            <div class="mb-3">
                <label asp-for="@o.OptionText"></label>
                <input asp-for="@o.OptionText" disabled class="form-control" />
            </div>
            
        }
		<div class="delete-btns">
			<button type="submit" class="btn-remove">Delete</button>
		<a asp-controller="Question" asp-action="Index" class="btn">
			Back to List
		</a>
		</div>
		</div>
		
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}